<div class="col-md-4">

  <div class="card" style="width: 20rem;">

    <img class="card-img-top" src="{{ImgPath}}" id="categoryImage"  alt="Card image cap" onclick="loadPage({{name}});">

    <div class="card-block">

        <h4 class="card-title">{{name}}</h4>

        <p class="card-text">{{description}}</p>

        <a class="btn btn-primary" href="{{name}}">View Product(s)</a>

    </div>

  </div>

</div>
